
.about{
    text-align: center;
    padding:50px 250px;
    background-color: #101010;
    margin-top: 50px;
    color:#39FF14;
    text-align: left;
    height: 400px;
}
.about h2{
    font-size: 2rem;
}
.about p{
    font-size: 1.1rem;
    margin-top: 20px;
}



@media (max-width:768px){
    .about{
        padding:40px;
        text-align: left;
        height: 600px;
    }
    .about p{
        margin-top: 20px;
    }
}