.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px 0 50px 0;   
}
.contact h2{
   font-size: 2rem;
   color: #39FF14;
}
.contact p{
    font-size: 1.2rem;
    width:500px;
    margin-top: 20px;
}
.contact-links{
    display: flex;
    gap:30px;
    margin-top: 20px;
}
.fa-brands{
    font-size: 3rem;
    color: #39FF14;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width:300px;
    height:50px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #696969;
    padding-left: 10px;
}
textarea{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #696969;
    padding-left: 10px;
}
button{
    width:300px;
    height: 50px;
    background-color: #39FF14;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 1.1rem;
}

@media(max-width:768px){
    .contact-container{
        display: inline-block;
        margin:0;
        padding: 40px;
    }
    .contact p{
        font-size: 1.2rem;
        width:300px;
        margin-top: 20px;
    }
    .contact-links{
        margin-top: 20px;
        justify-content: center;
    }
    .contact{
        text-align: center;
    }
    form{
        margin: 50px 0 50px 0;
    }
}

@media(min-width:768px) and (max-width:1400px){

}